[tool.poetry]
name = "tap-smoke-test"
version = "0.0.1"
description = "`tap-smoke-test` is a Singer tap for SmokeTest, built with the Meltano SDK for Singer Taps."
authors = ["Florian Hines"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
requests = "^2.28.1"
singer-sdk = "^0.15.0"
genson = "^1.2.2"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
tox = "^4.0.8"
flake8 = "^6.0.0"
pydocstyle = "^6.1.1"
mypy = "^0.991"
black = "^22.12.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-smoke-test = 'tap_smoke_test.tap:TapSmokeTest.cli'
